/* All */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    overflow-x: hidden;
}


/* the header */
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: #0f172a;
}

.head .logo {
    color: orange;
}

.head ul {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    list-style: none;
}

.head ul li {
    margin-left: 20px;
    padding: 3px 7px;
}

.head ul li a {
    text-decoration: none;
    font-size: large;
    color: white;
}

.head ul li:hover {
    background-color: orangered;
    padding: 3px 7px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.form a {
    text-decoration: none;
    background-color: orangered;
    color: white;
    margin-top: 30px;
    padding: 20px 0;
    border-radius: 12px;
    width: 30%;
    text-align: center;
    font-size: large;
    border: none;
}

@media (max-width : 1300px) {
    .form {
        width: 100%;
    }

    .form a {
        width: 30%;
        padding: 20px 0;
        text-align: center;
    }
}

@media (max-width : 812px) {
    .form {
        width: 100%;
    }

    .form a {
        width: 50%;
        padding: 20px 0;
        text-align: center;
    }
}

@media (max-width : 786px) {
    .form {
        width: 100%;
    }

    .form a {
        width: 60%;
        padding: 20px 0;
        text-align: center;
    }
}

@media (max-width : 576px) {
    .form {
        width: 100%;
    }

    .form a {
        width: 80%;
        padding: 20px 0;
        text-align: center;
    }

    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        color: orangered;
    }

    .head ul li {
        padding: 3px 3px;
    }

    .head ul li:hover {
        background-color: orangered;
        padding: 3px 3px;
    }

    .head .logo {
        font-size: 30px;
    }

    .head ul li a {
        font-size: medium;
    }
}